{{ define "footer" }}
            </div>
            <footer class="p-4" style="position:fixed; left:0; bottom:0; with:100%;">
                <div class="container-fluid">
                    <div class="row">
                        <span style="
                            font-size:1.1em;
                            color:grey;
                            font-weight:bold;
                        "> LucasCordasco - 2022 </span>
                    </div>
                </div>
            </footer>
        </body>
    </html>

{{ end }}
