{{ define "header" }}
    <!DOCTYPE html>
    <html lang="es">
        <head>
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <title>Go Crud Aplication</title>
            <!-- required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>  
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="nav navbar-nav ps-3">
                    <a class="nav-item nav-link active" href="/">Listado de empleados</a>
                    <a class="nav-item nav-link" href="/create">Crear nuevo empleado</a>
                </div>
            </nav>
            <div class="container py-4 mt-5">
{{ end }}
